# Drupal standard ignore
# Composer
/vendor/
/composer.lock

# Drupal-specific
/core/
/modules/contrib/
/themes/contrib/
/profiles/contrib/
/sites/*/settings*.php
/sites/*/services*.yml
/sites/*/files/
/sites/*/private/
/sites/simpletest

# IDE/editor fájlok
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/
*.DS_Store
*.swp

# DDEV-related
.dbinfo
db_dumps/
import-db/
ddev-export/
web/sites/default/settings.ddev.php

# Logs
*.log

# Backup, temp
*.bak
*.tmp
*.old
*.orig
