parameters:
	ignoreErrors:
		-
			message: "#^Method Drupal\\\\gdpr_consent\\\\Form\\\\ConsentAgreementForm\\:\\:save\\(\\) should return int but return statement is missing\\.$#"
			count: 1
			path: modules/gdpr_consent/src/Form/ConsentAgreementForm.php

		-
			message: "#^Method Drupal\\\\gdpr_consent\\\\Plugin\\\\Field\\\\FieldType\\\\UserConsentItem\\:\\:postSave\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: modules/gdpr_consent/src/Plugin/Field/FieldType/UserConsentItem.php

		-
			message: "#^Method Drupal\\\\gdpr_fields\\\\EntityTraversalFactory\\:\\:getTraversal\\(\\) should return Drupal\\\\gdpr_fields\\\\EntityTraversalInterface but return statement is missing\\.$#"
			count: 1
			path: modules/gdpr_fields/src/EntityTraversalFactory.php

		-
			message: "#^Method Drupal\\\\gdpr_tasks\\\\Form\\\\TaskActionsForm\\:\\:save\\(\\) should return int but return statement is missing\\.$#"
			count: 1
			path: modules/gdpr_tasks/src/Form/TaskActionsForm.php

		-
			message: "#^Method Drupal\\\\gdpr_tasks\\\\Form\\\\TaskForm\\:\\:save\\(\\) should return int but return statement is missing\\.$#"
			count: 1
			path: modules/gdpr_tasks/src/Form/TaskForm.php

		-
			message: "#^Method Drupal\\\\gdpr_tasks\\\\Form\\\\TaskTypeForm\\:\\:save\\(\\) should return int but return statement is missing\\.$#"
			count: 1
			path: modules/gdpr_tasks/src/Form/TaskTypeForm.php
