@charset "UTF-8";

$border-color: #222330;

#system-theme-settings {
  margin-top: 60px;

  // Header
  *:not(.reinvented-color-wheel *) {
    box-sizing: border-box;
  }

  #edit-actions {
    border: none;
    border-top: 1px solid $border-color;
    margin: 40px 0 0;
  }

  #edit-submit {
    border: none;
    font-size: 18px;
    margin: 20px;
    padding: 20px;
    width: 300px;
  }

  .settings-header {
    margin-bottom: 0;
    padding: 30px;
  }

  .form-wrapper,
  .tabs-left > .tab-content,
  .tabs-right > .tab-content,
  .nav-tabs,
  .nav-tabs a,
  .vertical-tabs {
    border: none;
    box-shadow: none;
  }

  details.form-wrapper,
  div.form-wrapper {
    background: transparent;
    border-left: 1px solid $border-color;
    border-radius: 0;
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;

    .panel-heading {
      background: transparent;
      border: none;
    }

    .panel-title {
      background: transparent;
      border: none;
      font-size: inherit;

      .panel-title {
        background: none;
        outline: none;
        text-decoration: none;

        &:hover,
        &:active {
          outline: none;
          text-decoration: none;
        }
      }
    }

    .card-header {
      background: transparent;
      border: none;
      font-size: 18px;
      font-weight: bold;
    }

    summary {
      border: unset;
      padding: 10px 15px;

      --bs-bg-opacity: unset;

      .details-title {
        background: none;
        color: inherit;
        outline: none;
        text-decoration: none;
      }

      &::before {
        display: none;
      }

      &::marker {
        content: '';
      }
    }

    .description {
      font-size: 12px;
      margin: 0;
      opacity: .7;
      padding: 5px 0;
    }
  }

  label,
  legend {
    background-color: unset;
    border: none;
    display: block;
    float: left;
    font-size: 18px;
    outline: none;
    padding: 0 27px 5px 0;
    width: 200px;
  }

  .no-preview {
    &::after {
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-eye-off%22%3E%3Cpath%20d%3D%22M17.94%2017.94A10.07%2010.07%200%200%201%2012%2020c-7%200-11-8-11-8a18.45%2018.45%200%200%201%205.06-5.94M9.9%204.24A9.12%209.12%200%200%201%2012%204c7%200%2011%208%2011%208a18.5%2018.5%200%200%201-2.16%203.19m-6.72-1.07a3%203%200%201%201-4.24-4.24M1%201l22%2022%22%2F%3E%3C%2Fsvg%3E');
      background-size: contain;
      content: '';
      display: inline-block;
      filter: invert(100%) brightness(70%);
      height: 20px;
      margin-left: .3em;
      margin-top: .2em;
      position: absolute;
      width: 20px;
    }
  }

  .no-preview-info {
    bottom: 0;
    font-size: 13px;
    line-height: 1.3;
    position: absolute;
    right: 0;

    span.no-preview {
      display: inline-block;
      margin-right: 1.5em;

      &::after {
        height: 1em;
        margin-left: 0;
        width: 1em;
      }
    }
  }

  .form-radios .no-preview::after, .form-checkboxes .no-preview::after, .form-item-block-card .no-preview::after, .form-item-block-divider .no-preview::after {
    display: none;
  }

  .form-item {
    background-color: unset;
    clear: both;
    min-height: 3em;
    padding-left: 0;

    &::after{
      clear: both;
      content: "";
      display: table;
    }

    .js-form-type-radio {
      min-height: 20px;
    }
  }

  // selects fix
  .form-item-field-settings-granularity {
    .option.checkbox.control-label {
      float: left;
      margin-right: 2em;
    }

    .help-block {
      clear: both;
    }
  }

  // Checkboxes bootstrap fix
  .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0;
    position: static;
  }

  .form-text,
  .fieldset-wrapper,
  .select-wrapper {
    float: left;
    max-width: 100%;
    width: 400px;
  }

  .fieldset-wrapper {
    padding: 0;
  }

  .form-text,
  .form-textarea,
  .form-file {
    border: 1px solid $border-color;
    box-shadow: none;
  }

  .description,
  .help-block {
    clear: both;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .form-header {
    border-bottom: 1px solid $border-color;
    padding: 20px;
    position: relative;

    h2 {
      font-size: 20px;
    }

    img {
      margin-right: 10px;
      width: 40px;
    }
  }

  .vertical-tabs {
    display: table;
    margin: 0;
    position: relative;
    width: 100%;

    .vertical-tabs__menu {
      border: none;
      content: ' ';
      display: table-cell;
      float: none;
      height: 100%;
      left: 0;
      margin: 0;
      padding-top: 30px;
      position: relative;
      top: 0;
      vertical-align: top;
      width: 200px;

      .vertical-tabs__menu-item {
        background: transparent;
        border: none;

        a {
          background: transparent;
          border: none;
          margin-bottom: 3px;
          padding: 10px 15px;

          &:hover,
          &:active {
            border: none;
            outline: none;
            text-decoration: none;
          }

          &:focus {
            text-decoration: none;
          }

          &:hover .vertical-tabs__menu-item-title,
          &:focus .vertical-tabs__menu-item-title,
          &:active .vertical-tabs__menu-item-title {
            text-decoration: none;
          }

          .vertical-tabs__menu-item-title {
            font-weight: normal;
          }
        }
      }

      .is-selected {
        background-color: var(--dxt-color-silver);
        a {
          border: none;

          .vertical-tabs__menu-item-title {
            text-decoration: underline;
          }
        }
      }
    }

    .vertical-tabs__panes {
      padding: 0 15px 15px 0;

      .details-wrapper {
        padding: 15px;
      }
    }

  }

  .form-select {
    max-width: 100%;
    width: auto;
  }

  .form-composite {
    display: flex;
    flex-direction: inherit;

    .form-checkboxes input {
      display: block;
    }

    input {
      display: none;
    }

    label {
      font-size: 15px;
      width: auto;
    }

    // .form-radios {
    // label.option,
    input ~ label.option,
    input ~ span {
      cursor: pointer;
      font-weight: 300;
      line-height: 24px;
      margin: 0;
      width: auto;

      &::before {
        content: '__';
        display: inline-block;
        font-size: 18px;
        font-weight: normal;
        opacity: 0.3;
        width: 25px;
      }
    }

    input:checked ~ label.option,
    input:checked ~ span {
      font-style: italic;
      font-weight: normal;

      &::before {
        content: '✓';
        font-size: 24px;
        opacity: 1;
      }
    }

    // }
  }

  .form-type-checkboxes {
    > label {
      font-weight: bold;
    }
  }

  .farbtastic {
    z-index: 10;
  }

  .color-form {
    max-width: 740px;

    .form-item {
      margin: 0 0 24px;
    }

    .details-wrapper {
      display: flex;
    }

    .form-text {
      padding: 3px;
      width: 250px;
    }

    .select-wrapper {
      width: 250px;

      .form-select {
        float: none;
        width: 250px;
      }
    }

    .form-item-scheme {
      height: 3.2em;
      margin-right: 160px;
    }

    h2 {
      visibility: hidden;
    }

    .color-preview {
      visibility: hidden;
    }
  }

  .form-item.form-type-vertical-tabs {
    margin-top: 0;
  }

  .color-placeholder {
    height: 0;
    padding: 0 24px 100px;
    top: 140px;
  }

  .color-palette {
    margin-top: 64px;

    label {
      line-height: 1.2;
      padding: 0 27px 0 0;
    }

    .form-item {
      align-items: center;
      display: flex;
      min-height: 0;
      padding: 0;
    }

    .item-selected {
      background: none;

      input {
        font-style: italic;
      }
    }

    .lock {
      left: -18px;
      top: -2em;
    }

    .form-text {
      padding: 5px;

      &.active {
        border-radius: 4px;
        box-shadow: 0 0 0 3px rgb(50 200 50 / 100%);
        font-weight: bold;
      }
    }
  }

  .font-preview {
    font-size: 30px;
    padding: 10px 0;

    p {
      margin: 10px 0;
    }

    .font-test {
      font-size: 16px;
    }

    .font-test-accents {
      font-size: 16px;
    }

    .font-test-small {
      font-size: 13px;
    }
  }

  #edit-fonts {
    .form-item:not(.form-wrapper) {
      clear: none;
      float: left;
      height: 70px;
      padding-right: 10px;
      width: 40%;

      &.form-type-textfield {
        width: 60%;
      }

      .form-select {
        height: 50px;
      }

      .form-text,
      label {
        width: 100%;
      }

      .form-wrapper {
        clear: both;
      }
    }
  }

  #edit-typography {
    .form-item:not(.form-wrapper) {
      clear: none;
      float: left;
      margin-bottom: 0;
      overflow: hidden;
      padding-top: 0;
      width: 33%;

      label {
        width: 100%;
      }
    }

    .form-text:not([name="divider_color_custom"]) {
      width: 27%;
    }

    .form-item-scale-factor {
      width: 66%;
    }

    .form-item-divider-color,
    .form-item-divider-color-custom {
      clear: both;
    }
  }

  #edit-block {
    .form-type-select,
    .form-text {
      width: 80%;
    }
  }

  .block-design-settings {
    float:left;
    padding: 0 0 60px;
    width: 50%;
  }

  .block-preview {
    float:left;
    padding: 90px 0 0 60px;
    width:50%;
  }

  .form-item[class$="invoke"] .form-text {
    max-width: none;
  }

  .fonts-previews p {
    margin: 0 0 20px;
  }

  #edit-import-export {
    label {
      width: 300px;
    }
  }

  .dxpr-theme-settings-export {
    height: 400px;

    // overflow: auto;
    white-space: pre;
    width: 100%;
  }

  .js-form-type-checkbox {
    position: relative;

    input[type="checkbox"] {
      appearance: auto;
      cursor: pointer;
      height: 27px;
      left: 200px;
      margin: 0;
      position: absolute;
      top: 0;
      width: 54px;
      z-index: 10;

      // Can't add the switcher div with #suffix and #prefix for some reason
      // So just using checkboxes again
      // opacity: 0;
      // appearance: none;
      &:checked + .switcher {
        &::after {
          left: calc(100% - 3px);
          transform: translateX(-100%);
        }
      }

      &:focus {
        box-shadow: unset;
      }
    }

    .switcher {
      border-radius: 20px;
      cursor: pointer;
      display: block;
      height: 27px;
      left: 200px;
      margin: 0;
      padding: 0;
      position: absolute;
      text-indent: -9999px;
      top: 0;
      width: 54px;

      &::after {
        border-radius: 50%;
        content: '';
        height: 21px;
        left: 3px;
        position: absolute;
        top: 3px;
        transition: 0.3s;
        width: 21px;
      }
    }
  }

  .core-theme-settings, .form-checkboxes {
    .js-form-type-checkbox input[type="checkbox"] {
      left: auto;
      right: 0;
    }
  }

  .dxb-slider-wrapper {
    input {
      border: none;
    }

    .dxb-slider-value {
      width: 100px;
    }

    .dxb-slider-track {
      min-width: 150px;

      .dxb-slider {
        width: 100% !important;
      }
    }
  }
}

.type-preview {
  clear: both;

  .type-container {
    padding: 40px 80px;
  }
}
